body{
    width: 700px;
    margin: 0 auto;
    background: #0091ff;
    color: #ffffff;
    font-family: Lato,sans-serif;
    text-align: justify;
}
@media only screen and (max-width: 700px){
body {
    box-sizing: border-box;
    width: 80%;
    margin: 50px auto;
    padding: 0px;
}
}
#header{
    padding-top: 50px
}
#content{
    font-weight: bold;
}
img{
    display: block;
    float: none;
    clear: both;
    margin: 0 auto;
}
